/* font-family: "Inconsolata", monospace; */
/* font-family: "Libre Baskerville", serif; */
/* font-family: "Roboto Mono", monospace;
font-family: "Special Elite", system-ui */

/* NORMALIZACION: */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Esto mantiene el ancho y alto a pesar del padding y border*/
    font-family: "Inconsolata", monospace;
    list-style: none; /*Quitar puntos e decoracion de las lista*/
    text-decoration: none;/*Esto quita el subrayado de los enlaces*/
    color: white;
}
header {
    position: fixed;/*Esto hace eu el header se quede fijo en la parte superior*/
    right: 0;
    top: 0;
    z-index: 100;/*esto hace que el header se muestra x arriba*/
    width: 100%;
    display: flex;/*esto hara que los elemento se pongan en linea*/
    align-items: center; /*centra verticalmente*/
    justify-content: space-between;/*que los elemntos se ceparen*/
    padding: 15px 3%;
    background-color: transparent;
}
.logo {
    font-size: 30px;
    font-weight: 800;/*Este es el grueso de las letras*/
}
.navList {
    display: flex;/*Esto sirve para que los elementos de la listas ul se pongan en linea*/
}
.navList a {
    margin-left: 60px;/*es para separar las palabras*/
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;/*este es un subrayado transparente*/
    transition: all .5s ease;/*esto es para animar todas las carcteristicas del navList a*/
}
.navList a:hover{
    border-bottom: 2px solid white;/*este es un subrayado blanco*/
}
#manu-icon{
    display: none; /*lo pongo en none para que solo se vea cuando la pagina esta colapsada de forma horizontal*/
}
#menu-icon{
    font-size: 35px;
    z-index: 101;/*para que este sobre el header*/
    cursor: pointer;/*para que aparesca la manito cuando ponemos el mouse encima*/
    display: none;
}
#menu-toggle{
    display: none;/*nunca quiero que se vea el checkbok*/
}
.menu-icon-action{
    display: none; /*para que no se pueda hacer click*/
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #5a79ac 0%, #3659c9 25%, #12013d 75%); /*fondo de color gradiente*/
    position: relative; /*para que sea relativo al contenedor(nos permite usar top, bottom, left, y right)*/
    display: grid; /*para que el hero se pueda dividir en 2 columnas*/
    grid-template-columns: 1fr 1fr; /*las 2 columnas*/
    align-items: center; /*para alinear verticalmente el hero*/
    gap: 2rem; /*haya espacio de 2 rem entre las 2 columnas*/
}
section{
    padding: 0 8%;
}
.hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}
.hero-text h1{
    font-family: "Special Elite", system-ui;
    font-size: 60px;
    line-height: 1;
    margin: 20px 0 30px;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.hero-text p {
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}
.hero-img img{
    width: 300px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 5s linear; /*esto hace que la transicion sea lineal*/
}
.hero-img img:hover{
    width: 450px;
    opacity: 0.6;
}
.hero-text a {
    display: inline-block;
    background-color: darkgrey;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}
.hero-text a:hover{
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.videos{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero-text a.video i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons {
    position: absolute;
    top:50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all .5s ease;
}

.icons i:hover{
    color: #4d4d4d;
    transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: #21383d;
    transition: all .5s ease;
    border-radius: 30px;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}


/*Aca vamos a hacer mediaqueries para que la web sea responsive*/
@media (max-width:992px){
    section{
        padding: 0 3%;
        transition: 2s;
    }
    .hero-text{
        padding-top: 0;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }
    .hero-text p{
        font-size: 70%;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}


@media(max-width: 768px){
    .menu-icon-action{
        display: block;
    }
    #menu-icon{
        display: block;
    }
    .hero-text{
        text-align: center;
        padding-top: 100px;
    }
    .hero-img img{
        margin: 0;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .navList{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: #040e29d0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .5s ease-out;
    }
    .navList a{
        display: block;
        margin: 7px 0;
    }
    .navList.open{
        right: 0;
    }
}