*{
    padding: 0;
    margin: 0;
    font-family: "Inconsolata", monospace;
    list-style: none; 
    text-decoration: none;
    color: black;
}
body{
    background: linear-gradient(135deg,#400D37,#EBF0F2, #F26B8F );
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
    background-color: transparent;
}
.navList {
    display: flex;
    text-align: center;
    padding: 0;
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 100px;
}
.navList h3{
    font-size: 25px;
    margin-left: 10px;
    font-weight: 580;
    color: #F26B8F;
    opacity: 0.5;
}
.navList ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navList ul li{
    margin-right: 30px;
    align-items: center;
}
.navList ul li a{
    text-decoration: none;
    font-weight:bold;
    padding: 1px;
    color: #000;
}
.navList ul li a:hover{
    transition: all .5s;
    border-bottom: 2px solid #F26B8F;
}
.title{
    font-family: "Special Elite", system-ui;
    font-size: 40px;
    line-height: 0.9;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
}
.description{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 1.2;
    opacity: 0.7;
}
.hero{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.section{
    font-weight: 900%;
    color: #400D37;
}
.skill{
    justify-content: space-between;
}
.img{
    width: 50px;
}

@media (max-width:992px){
    .hero{
        padding-top: 0;
        margin: 90px;
    }
    .title{
        margin: 20px;
        font-size: 50%;
    }
    .img{
        width: 42px;
    }
    .navList{
        display:flex;
        margin: 5px;
        font-size: 15px;
    }
}

@media(max-width: 768px){
    .title{
        font-size: 35px;
    }
        .description{
            font-size: 13px;
            line-height: 1.2;
            opacity: 0.7;
            }
    .hero{
        display: flex;
        height: 50px;
        margin: 20px;
        flex-direction: row;
    }
    .navList{
        display: flex;
        flex-direction: column;
        margin: 5px;
        font-size: 15px;
    }
    .section{
        font-size: 20px;
    }
    .name{
        font-size: 15px;
    }
}